#fotter{
    margin-left: 5vw;
    margin-top: 5vw;
   /* width: 70vw;
    height: 50vh;*/
    width: 90vw;
    height: 20vh;
}

#your_name{
    width: 20vw;
    height: 4vh;
    border-radius: 5px;

}

#email{
    margin-left: 3vw;
    margin-right: 5vw;
    border-radius: 5px;
    width: 20vw;
    height: 4vh;
}

#txt{

    bottom: 15vh;
    width: 43vw;
    border-radius: 5px;
    height: 30vh;
    position: relative;
    top: -19vh;

}

#links{
    position: relative;
    top: -15vh;
    left: 8vw;


}

#contact_me{
    /*border: 2px solid red;*/
}

.link_img{
    margin-left: 5vw;
}

#mail_link{
    color:#ffffff;
    position:relative;
    left: 48vw;
    top: -20vh;
}