@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');


body{
    /*display: flex;*/
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #343F4F;
    overflow-x: hidden;

}
.dominos{

    /*border: 3px solid white;*/
    width: 700px;
    height: 200px;
    border-radius: 20px;
}
.amari{
    /*border: 3px solid white;*/
    width: 650px;
    height: 200px;
    border-radius: 20px;
}
.exam{
    /*border: 3px solid white;*/
    width: 750px;
    height: 200px;
    border-radius: 20px;
}
.slithem{
    /*border: 3px solid white;*/
    width: 650px;
    height: 200px;
    border-radius: 20px;
}
#ijseicon{

    box-shadow: rgba(255, 0, 0, 0.25) 0px 10px 70px ,
    rgba(255, 0, 0, 0.12) 0px -12px 30px,
    rgba(125, 0, 0, 0.12) 0px 4px 6px,
    rgba(255, 0, 0, 0.17) 0px 12px 13px,
    rgba(255, 0, 0, 0.09) 0px -3px 5px;

    width: 150px;
    height: 150px;
    border-radius: 12rem;
    border: 2px solid   red;
    position: relative;
    left: 408px;
    top: -97px;
}

#amariIcon{

    box-shadow: rgba(255, 0, 0, 0.25) 0px 10px 70px ,
    rgba(255, 0, 0, 0.12) 0px -12px 30px,
    rgba(125, 0, 0, 0.12) 0px 4px 6px,
    rgba(255, 0, 0, 0.17) 0px 12px 13px,
    rgba(255, 0, 0, 0.09) 0px -3px 5px;

    background-image: url("../images/image.jpg");
    background-position: right;
    width: 150px;
    height: 150px;
    border-radius: 12rem;
    border: 2px solid   red;
    position: relative;
    left: 430px;
    top: -90px;
}

#dominosIcone{

    box-shadow: rgba(255, 0, 0, 0.25) 0px 10px 70px ,
    rgba(255, 0, 0, 0.12) 0px -12px 30px,
    rgba(125, 0, 0, 0.12) 0px 4px 6px,
    rgba(255, 0, 0, 0.17) 0px 12px 13px,
    rgba(255, 0, 0, 0.09) 0px -3px 5px;

    background-image: url("../images/XvUsfIo-WJPqWRKW.jpeg");
    background-position: center;
    background-size: cover;
    width: 150px;
    height: 150px;
    border-radius: 12rem;
    border: 2px solid   red;
    position: relative;
    left: 50px;
    top: 20px;
}


#slithamIcon{
    box-shadow: rgba(255, 0, 0, 0.25) 0px 10px 70px ,
    rgba(255, 0, 0, 0.12) 0px -12px 30px,
    rgba(125, 0, 0, 0.12) 0px 4px 6px,
    rgba(255, 0, 0, 0.17) 0px 12px 13px,
    rgba(255, 0, 0, 0.09) 0px -3px 5px;

    background-image: url("../images/LOGO-with-Name-2-3.png");
    background-position: left;
    background-size: cover;
    width: 150px;
    height: 150px;
    border-radius: 12rem;
    border: 2px solid   red;
    position: absolute;
    left: 50px;
    top: 20px;
}

#examIcon{
    box-shadow: rgba(255, 0, 0, 0.25) 0px 10px 70px ,
rgba(255, 0, 0, 0.12) 0px -12px 30px,
rgba(125, 0, 0, 0.12) 0px 4px 6px,
rgba(255, 0, 0, 0.17) 0px 12px 13px,
rgba(255, 0, 0, 0.09) 0px -3px 5px;

    background-image: url("../images/7238d96e-b5797f47-gce-o_l-2019_850x460_acf_cropped.jpg");
    background-position: center top;
    background-size: cover;
    width: 150px;
    height: 150px;
    border-radius: 12rem;
    border: 2px solid   red;
    position: absolute;
    right: 50px;
    top: 20px;
}



.ijse{
    /*border: 3px solid white;*/
    width: 650px;
    height: 200px;
    border-radius: 20px;

}
#ijse:hover{
    position: relative;
    background: #5b0808;
    width: 650px;
    height: 200px;
    border-radius: 20px;
    /*opacity: 90%;*/
}
#navbar{
    background-color: #03142a;
    position: fixed;
    font-family: Roboto Thin, serif;
    box-shadow: rgba(5,77,77,0.64) 0px -65px 52px -28px inset;
    z-index: 10;
    width: 99.8vw;
    height: 8vh;
    left: -5px;
}
/*nav{
    left: 0px;
    top: 0px;
    position: absolute;
    width: 99vw;
    height: 5vh;
    font-size: 26px;
    padding-left: 0;
    margin-left: 0;
    z-index: 99999;
}*/
/*#home{
    left: 0;
}

#about{
    left: 318px;
}

#contact{
    right: 0;
}

#skills{
left: 636px;
}

#projects{
    right: 634px;
}

#sports{
    right: 318px;
}*/


#image_section{
    width: 99.3vw;
    position: relative;
    height: 920px;
    /*top: -150px;*/
    background: black;

}

#main_img{
    position: absolute;
    display: block;
    right: 0;
    height: 920px;
    top: 0;
    opacity: 0.5;
}

#about_me_content{
    margin-left: 50px;
    font-size: 28px;
    color: white;
    font-family: "Roboto Thin", emoji;

}
.about_me{
    position: relative;
    top: 3vw;
    margin-bottom: 3.5vw;
}
.nav-item{
    font-family: "Roboto Thin";

    font-size: 25px;
    font-weight: bolder;
    color: #ffffff;

}

.nav-item:hover{
    border-bottom: #7e0000 solid medium;
    border-bottom-style: double;
    color: #1a1e21;
}
.btn_cv{
    position: relative;
    left: 76vw;
    top: -5vh;
    width: 10vw;
}





/*==============================Rain Start=============================================*/
.rain{
    z-index: 3;
    height: 99vh;
    background-image: url("../images/rain.png");
    animation: rain 0.3s linear infinite;
}
@keyframes rain{
    0%{
        background-position: 0% 0%;
    }
    100%{
        background-position: 20% 100%;
    }
}
.rain::before{
    z-index: 2;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("../images/lightning-strikes-on-trees-4k-q4.jpg");
    background-size: cover;
    animation: lightining 9s linear infinite;
    opacity: 0.5;

}

@keyframes lightining{
    0%{
        opacity: 0;
    }
    20%{
        opacity: 0;
    }
    21%{
        opacity: 1;
    }
    25%{
        opacity: 0;
    }
    30%{
        opacity: 0.2;
    }
    31%{
        opacity: 0.4;
    }
    35%{
        opacity: 0.6;
    }37%{
        opacity: 0.6;
    }38%{
        opacity: 0.6;
    }
    100%{
        opacity: 0;
    }
}
/*==============================rain Ends=============================================*/



/*==============================Dynamic Typing Start=============================================*/

*{
    /*margin: 0;*/
    /*padding: 0;*/
    /*box-sizing: border-box;*/
    /*font-family: 'Poppins', sans-serif;*/
}

.wrapper{
    left: 0;
    z-index: 5;
    display: flex;
    position: relative;
    top: 150px;
    width: 50vw;

}
.wrapper .static-txt{
    color: #504a4a;
    font-size: 85px;
    font-weight: 400;
    text-shadow: 4px 4px 8px grey;
}
.wrapper .dynamic-txts{
    margin-top: 80px;
    /*margin-left: 15px;*/
    height: 90px;
    line-height: 90px;
    padding-bottom: 10px;
    overflow: hidden;
}
.dynamic-txts li{
    list-style: none;
    text-shadow: 4px 4px 8px grey;
    color: #911010;
    font-size: 75px;
    font-weight: 500;
    position: relative;
    top: 0;
    animation: slide 12s steps(4) infinite;
}
@keyframes slide {
    100%{
        top: -360px;
    }
}
.dynamic-txts li span{
    position: relative;
    margin: 5px 0;
    line-height: 87px;
}
.dynamic-txts li span::after{
    content: "";
    position: absolute;
    left: 0;
    height: 105%;
    width: 105%;
    background: #010A15;
    border-left: 2px solid black;
    animation: typing 3s steps(10) infinite;
}
@keyframes typing {
    40%, 60%{
        left: calc(100% + 10px);
    }
    100%{
        left: 0;
    }
}

/*==============================Dynamic Typing Ends=============================================*/



/*==============================Show_Off Starts=============================================*/


#profil_photo{
    box-shadow: rgba(255, 0, 0, 0.25) 0px 54px 55px ,
    rgba(255, 0, 0, 0.12) 0px -12px 30px,
    rgba(125, 0, 0, 0.12) 0px 4px 6px,
    rgba(255, 0, 0, 0.17) 0px 12px 13px,
    rgba(255, 0, 0, 0.09) 0px -3px 5px;

    background-image: url("../images/IMG_20210424_154026.jpg");
    background-size: cover;
    /*transform: rotate(10deg);*/
    width: 15vw;
    height: 30vh;
    border-radius: 12rem;
    border: 2px solid white;
    position: absolute;
    right: 60px;
    top: 43px;
animation: rotate 10s infinite;

}@keyframes rotate {
    0%{
        background-image: url("../images/IMG_20210424_154026.jpg");
        background-size: cover;
        /*transform: rotateY(120deg);*/
    }
     10%{
        background-image: url("../images/My2.5.jpg");
        background-size: cover;
        transform: rotateY(180deg);
    }
    20%{
        background-position: right;
        background-image: url("../images/My03.jpg");
        background-size: cover;
        transform: rotateY(360deg);
    }

    30%{
        background-position: left top ;
        background-image: url("../images/My06.jpg");
        background-size: cover;
        transform: rotateY(540deg);

    }
     40%{
        background-position: bottom;
        background-image: url("../images/My05.jpg");
        background-size: cover;
        transform: rotateY(700deg);

    }
    50%{
        background-image: url("../images/batman-joker-hd--wallpaper.jpg");
        background-size: cover;
        transform: rotateY(860deg);


    }

    60%{
        background-image: url("../images/why_so_serious.jpg");
        background-position: bottom center;
        background-size: cover;
        transform: rotateY(-700deg);

    }


 70%{
        background-image: url("../images/why_so_serious.jpg");
        background-size: cover;
     background-position:center;
     transform: rotateY(-540deg);

    }


 80%{
        background-image: url("../images/why_so_serious.jpg");
        background-size: cover;
     background-position:center;
        transform: rotateY(-360deg);

    }


90%{
        background-image: url("../images/why_so_serious.jpg");
        background-size: cover;
    background-position:center;
        transform: rotateY(-180deg);

    }


99%{
    background-image: url("../images/IMG_20210424_154026.jpg");
    background-size: cover;
    background-position:center;
        transform: rotateY(0deg);

    }
    100%{
        background-image: url("../images/IMG_20210424_154026.jpg");
        background-size: cover;
    }
}
/*==============================Show_off Ends=============================================*/



