@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    /*font-family: "Roboto Thin", serif;*/
}

#ijsy_txt01{
    position: relative;margin-top: 20px; font-size: 20px;color:#ffffff;margin-left: 50px
}

#abc{
    font-family: g;
    background: #1a0025;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    overflow-x: hidden;

}

#btn_view_cv{
    left: -80px;
    position: relative;background: #00ff04;
    color: #ff00fb;
    font-weight: bolder;
    border-radius: 25px;
}

#download_cv{
    position: relative;
    left: -80px;
    border-radius: 25px;
    background: #00ff04
}

#educations{
    text-decoration: underline;
    font-family: Roboto Thin, emoji;
    position: relative;
    font-weight: bolder;
    left: 750px;
    width: 500px;
    color:#01e100;
    font-size: 1.5rem;
}

#tab_size_about{
    display: none;
}
#tab_size_skills{
    display: none;
}
#tab_size_projects{
    display: none;
}


#projects{
    width: 99vw;
    padding-top: 7vw;
    position: relative;
    height: 100vh;
    display:flex;
}

.jausa_link{
    text-align: center;
    position:relative;
    bottom: -33vh;
    font-size: 1.5rem;
    color:#ffffff;
}

.games_img{
    border-radius: 50%;width: 300px;height: 300px; margin-left: 2.5vw;
}
#athlatik_contecnt{
    position:absolute;
    color:#ffffff;
    width: 60vw;
    height: 80vh;
    font-size: 2rem;
}

#sports_part02{
    display:none; position: relative;top: 2vw;height: 80vh;
}

#secer{
    width: 23vw;
    height: 46vh;
    position: relative;
    left: 37.8vw;
    top: -2vw;
}

#tab_size_sport{display: none}

#game_contecnt{
    display: block;
    position:relative;
    color:#ffffff;
    width: 98vw;
    height: 40vh;
    font-size: 2rem;
    margin-bottom: 10vh;
}


#tab_size_contact{
    display: none;
    color: #04dc00;
    position: relative;
    font-weight: bolder;
    right: -77vw;
    width: 20vw;
    font-family: Roboto Thin;
    top: -3vh;
    font-size: 4rem;
    margin-right: 20px;
    text-shadow: 4px 4px 8px rgba(73,4,114,0.76);
}

.dominos{

    /*border: 3px solid white;*/
    position: relative;
    margin-left: 1200px;
    margin-bottom: 75px;
    width: 700px;
    height: 200px;
    border-radius: 20px;
}
#amary{
    /*border: 3px solid white;*/
    width: 650px;
    height: 200px;
    border-radius: 20px;
    position: relative;
    margin-left: 50px;
    margin-bottom: 75px;
}
#amari_txt_01{
    position: relative;font-size: 20px;color:#ffffff;margin-left: 50px;top: 1vw;
}
#amari_txt_02{
    position: relative;margin-right:50px; font-size: 26px;color:#33ffc2;margin-left: 30px;margin-top: 1vw;
}

.exam{
    /*border: 3px solid white;*/
    width: 750px;
    height: 200px;
    border-radius: 20px;
}
.slithem{
    /*border: 3px solid white;*/
    width: 650px;
    height: 200px;
    border-radius: 20px;
    position: relative;
    margin-left: 1200px;
    margin-bottom: 75px;
    /*width: 650px;*/
}
#slith_txt_01{
    font-size: 20px;
    color:#ffffff;
    margin-left: 250px;
    position: relative;
    top: -50px;
    margin-top: 75px;
}
#slith_txt_02{
    font-size: 26px;
    color:#33ffc2;
    margin-left: 30px;
    margin-right: 100px;
    position: relative;
    top: -50px;
    left: 200px;
}



#ijseicon{
    box-shadow: rgba(35, 255, 0, 0.25) 0px 10px 70px ,
    rgba(39, 255, 0, 0.12) 0px -12px 30px,
    rgba(43, 255, 0, 0.12) 0px 4px 6px,
    rgba(40, 255, 0, 0.17) 0px 12px 13px,
    rgba(40, 255, 0, 0.09) 0px -3px 5px;
    border: 2px solid #36e802;

    width: 150px;
    height: 150px;
    border-radius: 12rem;
    position: relative;
    left: 408px;
    top: -97px;
}

#amariIcon{




    box-shadow: rgba(35, 255, 0, 0.25) 0px 10px 70px ,
    rgba(39, 255, 0, 0.12) 0px -12px 30px,
    rgba(43, 255, 0, 0.12) 0px 4px 6px,
    rgba(40, 255, 0, 0.17) 0px 12px 13px,
    rgba(40, 255, 0, 0.09) 0px -3px 5px;
    border: 2px solid #36e802;

    background-image: url("../images/image.jpg");
    background-position: right;
    width: 150px;
    height: 150px;
    border-radius: 12rem;
    position: relative;
    left: 430px;
    top: -90px;
}

#dominosIcone{

    box-shadow: rgba(35, 255, 0, 0.25) 0px 10px 70px ,
    rgba(39, 255, 0, 0.12) 0px -12px 30px,
    rgba(43, 255, 0, 0.12) 0px 4px 6px,
    rgba(40, 255, 0, 0.17) 0px 12px 13px,
    rgba(40, 255, 0, 0.09) 0px -3px 5px;
    border: 2px solid #36e802;

    background-image: url("../images/XvUsfIo-WJPqWRKW.jpeg");
    background-position: center;
    background-size: cover;
    width: 150px;
    height: 150px;
    border-radius: 12rem;
    position: relative;
    left: 50px;
    top: 20px;
}


#slithamIcon{

    box-shadow: rgba(35, 255, 0, 0.25) 0px 10px 70px ,
    rgba(39, 255, 0, 0.12) 0px -12px 30px,
    rgba(43, 255, 0, 0.12) 0px 4px 6px,
    rgba(40, 255, 0, 0.17) 0px 12px 13px,
    rgba(40, 255, 0, 0.09) 0px -3px 5px;
    border: 2px solid #36e802;

    background-image: url("../images/LOGO-with-Name-2-3.png");
    background-position: left;
    background-size: cover;
    width: 150px;
    height: 150px;
    border-radius: 12rem;
    position: absolute;
    left: 50px;
    top: 20px;
}

#examIcon{

    box-shadow: rgba(35, 255, 0, 0.25) 0px 10px 70px ,
    rgba(39, 255, 0, 0.12) 0px -12px 30px,
    rgba(43, 255, 0, 0.12) 0px 4px 6px,
    rgba(40, 255, 0, 0.17) 0px 12px 13px,
    rgba(40, 255, 0, 0.09) 0px -3px 5px;
    border: 2px solid #36e802;


    background-image: url("../images/7238d96e-b5797f47-gce-o_l-2019_850x460_acf_cropped.jpg");
    background-position: center top;
    background-size: cover;
    width: 150px;
    height: 150px;
    border-radius: 12rem;
    position: absolute;
    right: 50px;
    top: 20px;
}



.ijse{
    /*border: 3px solid white;*/
    width: 650px;
    height: 200px;
    border-radius: 40px;

}

 #ijsy_txt02{
     position: relative; margin-right:50px;font-size: 26px;color:#33ffc2;margin-left: 30px
 }

#ijse{
    position: relative;
    margin-left: 50px;
    margin-bottom: 75px
}
#ijse:hover{
    position: relative;
    background: #49a64f;
    width: 650px;
    height: 200px;
    border-radius: 40px;
    /*opacity: 90%;*/
}

.dominos:hover{
    position: relative;
    background: #49a64f;
    width: 650px;
    height: 200px;
    border-radius: 40px;
    /*opacity: 90%;*/
}
#dominos_txt_01{
    font-size: 20px;
    color:#ffffff;
    margin-left: 250px;
    position: relative;
    top: -200px;
    margin-top: 75px;
}
#dominos_txt_02{
    font-size: 26px;
    color: #33ffc2;
    margin-left: 30px;
    margin-right: 100px;
    position: relative;
    top: -170px;
    left: 200px;
}
.amari:hover{
    position: relative;
    background: #49a64f;
    width: 650px;
    height: 200px;
    border-radius: 40px;
    /*opacity: 90%;*/
}

.slithem:hover{
    position: relative;
    background: #49a64f;
    width: 650px;
    height: 200px;
    border-radius: 40px;
    /*opacity: 90%;*/
}

#exam_rch{
    position: relative;margin-left: 50px;margin-bottom: 75px;
}

#exam_txt_01{
    position: relative;font-size: 20px;color:#ffffff;margin-left: 50px;margin-top: 20px;
}
#exam_txt_02{
    position: relative;margin-right:50px;font-size: 26px;color:#33ffc2;margin-left: 30px
}

.exam:hover{
    position: relative;
    background: #49a64f;
    width: 750px;
    height: 200px;
    border-radius: 40px;
    /*opacity: 90%;*/
}

#phone_size_skill{
    display: none;
}



p>span{
    font-size: 4rem;
}
p>span:nth-child(4){
    font-size: 8rem;
}

#smile{
    z-index: 1;
    color: white;
    position:relative;
    top: 13vw;
    left: 25vw;
    font-size: 5rem;
}

section{

    background-image: url("../images/main_bg.png");
    background-position: center top;
    background-size: cover;

}

#why{
    z-index: 1;
    color: white;
    position:relative;
    top: 10vw;
    left: 30vw;
    font-size: 4rem
}

.navbar{
    background-color: #16032a;
    position: fixed;
    font-family: Roboto Thin, serif;
    box-shadow: rgba(150, 8, 199, 0.64) 0px -65px 52px -28px inset;
    z-index: 10;
    width: 99.8vw;
    height: 8vh;
    left: -5px;
}


#image_section{


    background-image: url("../images/hahaa.jpg");
    background-size: cover;
    background-position: left;
    width: 99.3vw;
    position: relative;
    height: 920px;
    left: -10px;

}
#image_section>p{

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@1,900&display=swap');
    font-family: 'Rubik', sans-serif;


}

#main_img{
    position: absolute;
    display: block;
    right: 0;
    height: 920px;
    top: 0;
}

#about_me_content{
    margin-left: 50px;
    font-size: 28px;
    color: white;
    font-family: 'Passion One', cursive;
}
.about_me{
    position: relative;
    top: 3vw;
    margin-bottom: 3.5vw;
}
.nav-item{
    font-family: "Roboto Thin", serif;

    font-size: 25px;
    font-weight: bolder;
    color: #ffffff;

}

.nav-item:hover{
    border-bottom: #7e0000 solid medium;
    border-bottom-style: double;
    color: #1a1e21;
}

.btn_cv{
    position: relative;
    left: 76vw;
    top: -5vh;
    width: 10vw;
}

#profil_photo{
    box-shadow: rgba(35, 255, 0, 0.25) 0px 10px 70px ,
    rgba(39, 255, 0, 0.12) 0px -12px 30px,
    rgba(43, 255, 0, 0.12) 0px 4px 6px,
    rgba(40, 255, 0, 0.17) 0px 12px 13px,
    rgba(40, 255, 0, 0.09) 0px -3px 5px;
    border: 2px solid #36e802;

    background-image: url("../images/IMG_20210424_154026.jpg");
    background-size: cover;
    width: 15vw;
    height: 30vh;
    border-radius: 12rem;
    position: absolute;
    align-items: center;
    right: 40.9vw;
    top: 15vh;
animation: rotate 10s infinite;

}

@keyframes rotate {
    0%{
        background-image: url("../images/IMG_20210424_154026.jpg");
        background-size: cover;
        transform: rotateY(0deg);
    }
     10%{
        background-image: url("../images/My2.5.jpg");
        background-size: cover;
        transform: rotateY(180deg);
    }
    20%{
        background-position: right;
        background-image: url("../images/My03.jpg");
        background-size: cover;
        transform: rotateY(360deg);
    }

    30%{
        background-position: left top ;
        background-image: url("../images/My06.jpg");
        background-size: cover;
        transform: rotateY(540deg);

    }
     40%{
        background-position: bottom;
        background-image: url("../images/My05.jpg");
        background-size: cover;
        transform: rotateY(700deg);

    }
    50%{
        background-image: url("../images/batman-joker-hd--wallpaper.jpg");
        background-size: cover;
        transform: rotateY(860deg);


    }

    60%{
        background-image: url("../images/batman-joker-hd--wallpaper.jpg");
        background-position: bottom center;
        background-size: cover;
        transform: rotateY(-700deg);

    }


    70%{
        background-image: url("../images/batman-joker-hd--wallpaper.jpg");
        background-size: cover;
        background-position:center;
        transform: rotateY(-540deg);

    }


    80%{
        background-image: url("../images/batman-joker-hd--wallpaper.jpg");
        background-size: cover;
        background-position:center;
        transform: rotateY(-360deg);

    }


    90%{
        background-image: url("../images/batman-joker-hd--wallpaper.jpg");
        background-size: cover;
        background-position:center;
        transform: rotateY(-180deg);

    }


    100%{
        background-image: url("../images/why_so_serious.jpg");
        background-size: cover;
        background-position:center;
        transform: rotateY(-0deg);

    }
   /* 100%{
        background-image: url("../images/IMG_20210424_154026.jpg");
        background-size: cover;*/
    }

#show_off{
    width: 98vw;
    height: 40vh;
    /*border: 2px solid red;*/position: relative;
    top: 0.2vw;
    margin-bottom: 5vw;
}

#c_number{
    color:#ffffff;position:relative;left: 48vw;
}
#b_number{
    color:#ffffff;position:relative;left: 48vw;
}
#c_num_img{
    color:#ffffff;position:relative;left: 48vw;margin-top: 5vh;
}
#emal_img{
    color:#ffffff;position:relative;left: 5vw;top: -20vh;
}

#bottam_content{
    position: fixed;bottom: 0;width: 99vw;height: 3vh;
}

/*==============================Show_off Ends=============================================*/



